@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/*===== BASE =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*, ::before, ::after {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
img {
    max-width: 100%;
    height: auto;
    /* display: block; */
}
/* ====Navbar Styling==== */
.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position:fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: crimson;
    z-index: 100;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: rgb(58, 56, 56);
}
.navbar .menu li {
    list-style:none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 25px;
    transform: color 0.3s ease-in;
}
.navbar .menu li a:hover{
    color: crimson;
    font-weight: 600;
}
.navbar.sticky .menu li a:hover{
    color: rgb(100, 99, 99);
    font-weight: 600
}
/* =====Menu Button Styling===== */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* =====Home Section Styling===== */
.home{
    display: flex;
    background: url(images/banner11.png);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}


/* =====About Section Styling===== */
.section-title{
    margin-bottom: 10px;
    text-align: center;
    font-size: 55px;
    /* text-decoration: underline; */
    /* text-decoration-color: crimson; */
    color: #111;
}
.section-title::before{
    content: "";
    position: absolute;
    /* bottom: -110px; */
    left: 50%;
    width: 220px;
    height: 3px;
    background :#111;
    transform: translateX(-50%);
}
.about .section-title::after{
    content: "Who i am";
    position: absolute;
    font-size: 20px;
    bottom: -130px;
    left: 50%;
    padding: 2px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.about .section-title::before{
    bottom: -120px;

}
.about-container {
    row-gap: 2rem;
    text-align: center;
}
  

.about-subtitle {
    margin-bottom: var(--mb-2);
}
  

.about-img {
    justify-self: center;
}
  
.about-img img {
    width: 200px;
    height: 350px;
    border-radius: .5rem;
}
  
  /* =====Skills-Section Styling===== */

.skills-container{
    row-gap: 2rem;
    text-align: center;
}
.skills-subtitle{
    margin-bottom: 1rem;
}
.skills .section-title::after{
    content: "What I Know";
    position: absolute;
    font-size: 20px;
    left: 50%;
    margin-top: 60px;
    padding: 2px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.skills .section-title::before{
    /* position:-ms-page; */
    margin-top: 73px;
}
.skills-text{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 25px;
}
.skills-text2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
}
.skills-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 200px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.skills-icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: crimson;
}
.skills-names{
    display: flex;
    align-items: center;
}
.skills-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: crimson;
    height: .25rem;
    border-radius: 0.5rem;
    z-index: -10;
}
.skills-html{
    width: 95%;
}
.skills-css{
    width: 80%;
}
.skills-javascript{
    width: 85%;
}
.skills-python{
    width: 75%;
}
.skills-java{
    width: 65%;
}
.skills-img{
    margin-top: 10px;
    border-radius: 0.5rem;
    transition: 1s;
}

  /* =====Work-Section_Styling===== */

.work-container {
  row-gap: 2rem;
  padding-left: 2rem;
}
.work .section-title::after{
    content: "What i do";
    position: absolute;
    font-size: 20px;
    left: 50%;
    margin-top: 60px;
    padding: 2px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.work .section-title::before{
    /* position:-ms-page; */
    margin-top: 75px;
}
.work .section-title{
    padding-left: 40px;
}
.work-img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  width: auto;
  height: auto;
  overflow: hidden;
  /* padding: 10px; */
}

.work-img img {
  transition: 1s;
  width: 22rem;

}

.work-img img:hover {
  transform: scale(1.1);
  border-radius: .5rem;
}
.work-img-hover{
    text-align: center;
    align-items: center;
    display: inline-block;
    /* background-color: crimson; */
    overflow: hidden;
    height: auto;
    width: fit-content;   
}

/* =====Contact-Section-Styling===== */
.contact-input{
    width: 100%;
    font-size: 0.938rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid hsl(224,89,60);
    outline: none;
    margin-bottom: 2rem;
}
.contact-container{
    padding-top: 50px;
    margin-bottom: 50px;
}
.contact .section-title::after{
    content: "Reach Me";
    position: absolute;
    font-size: 20px;
    left: 50%;
    margin-top: 60px;
    padding: 2px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.contact .section-title::before{
    /* position:-ms-page; */
    margin-top: 75px;
}
.contact-button{
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    
}
.contact-form{
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
.button{
    /* align-self: center; */
    background-color: crimson;
    color: #fff;
    padding: 12px 36px;
    border-radius: 8px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.button:hover{
    color: crimson;
    background: none;
}
/* =====Footer Section===== */

.footer{
    background: url("images/polygon-background.png");
    background-color: #333333;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
}
.footer-title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer-social{
    margin-bottom: 2rem;
}
.footer-icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.footer-icon:hover{
    color: crimson;
    font-size: 2rem;
}
/* =====Scroll up Button===== */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    border-radius: 50%;
    color: #fff;
    right: 30px;    
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
}

/* =====Responsive Media Query===== */
@media (max-width: 1104px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .work-img img{
        margin-left: 70px;
        margin-top: 30px;
    }
}
@media (max-width: 945px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #111;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
        transition: all 0.3s ease;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        position: relative;
    }
    .navbar .menu li a:hover::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: crimson;
    }
    .home .home-content .text-2{
        font-size: 65px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }       
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    /* .about-text{
        max-width: 650px;
        font-size: 20px;
    } */
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
      .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }     
    .home .home-content a{
        font-size: 21px;
        padding: 9px 22px;
    }
}
@media (max-width: 520px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 26px;
    }     
    .work-img img{
        height: 270px;
    }
    .skills{
        margin: 0 20px;
    }
    .work{
        margin-right:45px ;
    }
    .about-img{
        margin: 2rem 0;
    }
    .about h2{
        margin-bottom: 1rem;
    }
    
}

@media (min-width: 576px){
    .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    } 
    .about-subtitle{
        padding-bottom: 10px;
        margin-left: 18rem;
        margin-top: -15rem;
    }
    .about-text{
        font-size: 18px;
        /* padding-right: 10px; */
        margin-left: 18rem;
    }
    .skills__container {
        grid-template-columns: .7fr;
        justify-content: center;
        column-gap: 1rem;
      }
      .skills{
          margin: 0 30px;
      }
      .work__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding-top: 2rem;
        text-align: center;
        align-items: center;
      }
      .contact__form {
        width: 360px;
        padding-top: 2rem;
      }
      .contact__container {
        justify-items: center;
      }
      /* .work-img img{
          height: 250px;
      } */
      .work{
        margin-right:45px ;
    }


}
@media (min-width: 768px) {
    .about-container {
        padding-top: 2rem;
    }
      .about-img img {
        width: 250px;
        margin-left: 50px;
    }
    .about-subtitle{
        margin-left: 28rem;
        margin-top: -280px;
    }
    .about-text{
        margin-left: 28rem;
    }
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        text-align: initial;
    }
      .work__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
      padding: 10rem 0 2rem;
    }
    .home__img {
      width: 450px;
    }
    .skills{
        margin-top: 85px;
        margin-left:100px;
        margin-right:100px;
    }
    .contact{
        margin: 0 350px;
    }
    .about{
        margin: 0 90px;
    }
    .work-img img{
        margin-left: 55px;
        margin-top: 25px;
        height: 250px;
    }
    .work-img-hover{
        text-align: center;
        align-items: center;
        overflow: hidden;
        /* padding-left: 50px; */
        /* height: auto; */
        
    }
  }
  